:root{
	--main1: #00605f;
	--main2: #4AE16E;
	--loading-inner: #4AE16DB6;
	--loading-shadow: #BDD73C;
	--file-upload-hover: #bef1c95e;
	--file-upload-border: #90E2A4;
	--file-upload-button-disabled: #60BBB6;
	--loading-outer: #00605E98;
	--color1: #227271;
	--color2: #009879;
}

@font-face {
	font-family: Montserrat;
	src: url(..//font/Montserratarm-Regular.otf);
}

@font-face {
	font-family: Montserratbold;
	src: url(..//font/Montserratarm-Bold.otf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat;
	scrollbar-width: auto;
	scrollbar-color: #c2c2c2 #ffffff;
}

*::-webkit-scrollbar {
	width: 13px;
	height: 13px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #c2c2c2;
	border-radius: 10px;
	border: 3px solid #ffffff;
}

button,
.cursor-pointer {
	border: none;
	cursor: pointer;
}


body {
	background-color: #F5F8FD;

}

table {
	border-collapse: collapse;
}

td {
	padding: 8px;
	border: 1px solid rgb(206, 206, 206);

}

input {
	border-radius: 5px;
	color: #0c0c0c;
	font-weight: 500;
	text-align: left;
	font-size: 13px;
	height: 23px;
	width: 35px;
	float: right;
	clear: both;
	border: 1px solid #7a7a7a;
	padding: 3px;
}

input:focus {
	outline: unset;
}

.logo {
	width: 358PX;
}

.hide {
	display: none;
}